### Analysis of affordable housing units 

This notebook looks at data from the Department of Housing Preservation and Development (HPD) and runs the following analyses:
- filtering the data to see developments after 2020
- dividing and summing up units that are one-bedrooms and studios or multi-room units
- summing up the total number of single-bedroom/studios and multi-room units built since 2020

In [1]:
import pandas as pd

This imports my dataset

In [2]:
df = pd.read_csv("../data/Affordable_Housing_Production_by_Building_20250415.csv",
                parse_dates=["Project Start Date"])

In [3]:
df.head()
# this is so I can get a preliminary idea of what the dataset looks like

,Project ID,Project Name,Project Start Date,Project Completion Date,Building ID,Number,Street,Borough,Postcode,BBL,...,2-BR Units,3-BR Units,4-BR Units,5-BR Units,6-BR+ Units,Unknown-BR Units,Counted Rental Units,Counted Homeownership Units,All Counted Units,Total Units
0,76351,22 MILFORD STREET,2024-12-31,NaN,337344.0,22,MILFORD STREET,Brooklyn,11208.0,3.039760e+09,...,NaN,NaN,NaN,NaN,NaN,NaN,11.0,NaN,11.0,43
1,76354,CONFIDENTIAL,2024-12-31,12/31/2024,NaN,----,----,Brooklyn,NaN,NaN,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,1
2,65412,NEW PENN DEVELOPMENT,2024-12-30,NaN,927171.0,461,NEW JERSEY AVENUE,Brooklyn,11207.0,3.037730e+09,...,1.0,1.0,NaN,NaN,NaN,NaN,4.0,NaN,4.0,4
3,65412,NEW PENN DEVELOPMENT,2024-12-30,NaN,927182.0,791,SARATOGA AVENUE,Brooklyn,11212.0,3.035830e+09,...,2.0,NaN,NaN,NaN,NaN,NaN,4.0,NaN,4.0,4
4,65412,NEW PENN DEVELOPMENT,2024-12-30,NaN,927204.0,306,PENNSYLVANIA AVENUE,Brooklyn,11207.0,3.037540e+09,...,8.0,NaN,NaN,NaN,NaN,NaN,26.0,NaN,26.0,26

In [4]:
df.dtypes
#this is so I can see the different types of data each column is. I want to make sure the project start date is a datetime, the project ID is an integer, and the community board is an object

Project ID                                     int64
Project Name                                  object
Project Start Date                    datetime64[ns]
Project Completion Date                       object
Building ID                                  float64
Number                                        object
Street                                        object
Borough                                       object
Postcode                                     float64
BBL                                          float64
BIN                                          float64
Community Board                               object
Council District                               int64
Census Tract                                 float64
NTA - Neighborhood Tabulation Area            object
Latitude                                     float64
Longitude                                    float64
Latitude (Internal)                          float64
Longitude (Internal)                         float64
Building Completion Date                      object
Reporting Construction Type                   object
Extended Affordability Only                   object
Prevailing Wage Status                        object
Extremely Low Income Units                   float64
Very Low Income Units                        float64
Low Income Units                             float64
Moderate Income Units                        float64
Middle Income Units                          float64
Other Income Units                           float64
Studio Units                                 float64
1-BR Units                                   float64
2-BR Units                                   float64
3-BR Units                                   float64
4-BR Units                                   float64
5-BR Units                                   float64
6-BR+ Units                                  float64
Unknown-BR Units                             float64
Counted Rental Units                         float64
Counted Homeownership Units                  float64
All Counted Units                            float64
Total Units                                    int64
dtype: object

In [5]:
cutoff_date = '2020-01-01'

In [6]:
after2020_df = df[df['Project Start Date'] > cutoff_date].fillna(0)
#I only want to see data after 2020, since according to news articles, the number of families fleeing the city went up around and after the pandemic

In [7]:
after2020_df.head()

,Project ID,Project Name,Project Start Date,Project Completion Date,Building ID,Number,Street,Borough,Postcode,BBL,...,2-BR Units,3-BR Units,4-BR Units,5-BR Units,6-BR+ Units,Unknown-BR Units,Counted Rental Units,Counted Homeownership Units,All Counted Units,Total Units
0,76351,22 MILFORD STREET,2024-12-31,0,337344.0,22,MILFORD STREET,Brooklyn,11208.0,3.039760e+09,...,0.0,0.0,0.0,0.0,0.0,0.0,11.0,0.0,11.0,43
1,76354,CONFIDENTIAL,2024-12-31,12/31/2024,0.0,----,----,Brooklyn,0.0,0.000000e+00,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1
2,65412,NEW PENN DEVELOPMENT,2024-12-30,0,927171.0,461,NEW JERSEY AVENUE,Brooklyn,11207.0,3.037730e+09,...,1.0,1.0,0.0,0.0,0.0,0.0,4.0,0.0,4.0,4
3,65412,NEW PENN DEVELOPMENT,2024-12-30,0,927182.0,791,SARATOGA AVENUE,Brooklyn,11212.0,3.035830e+09,...,2.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,4.0,4
4,65412,NEW PENN DEVELOPMENT,2024-12-30,0,927204.0,306,PENNSYLVANIA AVENUE,Brooklyn,11207.0,3.037540e+09,...,8.0,0.0,0.0,0.0,0.0,0.0,26.0,0.0,26.0,26

In [8]:
#instead of columns for each number of bedrooms, i want two columns: one for studios/one bedrooms, and one for multiple bedrooms. 
after2020_df['studio_1br'] = after2020_df['Studio Units'] + after2020_df['1-BR Units']
after2020_df['multi_bedroom'] = after2020_df[['2-BR Units', '3-BR Units', "4-BR Units", "5-BR Units", "6-BR+ Units"]].sum(axis=1)

In [9]:
after2020_df

,Project ID,Project Name,Project Start Date,Project Completion Date,Building ID,Number,Street,Borough,Postcode,BBL,...,4-BR Units,5-BR Units,6-BR+ Units,Unknown-BR Units,Counted Rental Units,Counted Homeownership Units,All Counted Units,Total Units,studio_1br,multi_bedroom
0,76351,22 MILFORD STREET,2024-12-31,0,337344.0,22,MILFORD STREET,Brooklyn,11208.0,3.039760e+09,...,0.0,0.0,0.0,0.0,11.0,0.0,11.0,43,11.0,0.0
1,76354,CONFIDENTIAL,2024-12-31,12/31/2024,0.0,----,----,Brooklyn,0.0,0.000000e+00,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1,0.0,1.0
2,65412,NEW PENN DEVELOPMENT,2024-12-30,0,927171.0,461,NEW JERSEY AVENUE,Brooklyn,11207.0,3.037730e+09,...,0.0,0.0,0.0,0.0,4.0,0.0,4.0,4,2.0,2.0
3,65412,NEW PENN DEVELOPMENT,2024-12-30,0,927182.0,791,SARATOGA AVENUE,Brooklyn,11212.0,3.035830e+09,...,0.0,0.0,0.0,0.0,4.0,0.0,4.0,4,2.0,2.0
4,65412,NEW PENN DEVELOPMENT,2024-12-30,0,927204.0,306,PENNSYLVANIA AVENUE,Brooklyn,11207.0,3.037540e+09,...,0.0,0.0,0.0,0.0,26.0,0.0,26.0,26,18.0,8.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5362,75432,12-19 31 DRIVE,2024-02-13,0,417658.0,12-19,31 DRIVE,Queens,11106.0,4.005180e+09,...,0.0,0.0,0.0,0.0,6.0,0.0,6.0,17,2.0,4.0
6270,75694,26-04 JACKSON AVENUE APARTMENTS,2024-04-19,0,1006122.0,26-04,JACCKSON AVENUE,Queens,11101.0,4.002680e+09,...,0.0,0.0,0.0,0.0,25.0,0.0,25.0,82,12.0,13.0
6290,75699,11-24 31ST DRIVE APARTMENTS,2024-04-15,0,417641.0,11-24,31 DRIVE,Queens,11106.0,4.005020e+09,...,0.0,0.0,0.0,0.0,16.0,0.0,16.0,51,16.0,0.0
6940,76318,2-21 MALT DRIVE APARTMENTS,2024-07-12,0,1014854.0,2-21,MALT DRIVE,Queens,0.0,0.000000e+00,...,0.0,0.0,0.0,0.0,244.0,0.0,244.0,811,178.0,66.0
6982,76371,JASPER HUNTER'S POINT,2024-07-02,0,439503.0,33-02,50 AVENUE,Queens,11101.0,4.000170e+09,...,0.0,0.0,0.0,0.0,150.0,0.0,150.0,499,107.0,43.0

In [10]:
# Drop the original columns
filtered_df = after2020_df.drop(columns=['Studio Units', '1-BR Units', '2-BR Units', '3-BR Units', "4-BR Units", "5-BR Units", "6-BR+ Units"])

In [11]:
filtered_df["total built units"] = filtered_df['studio_1br'] + filtered_df['multi_bedroom']

In [12]:
#now, I want to know how many of each type of apartment (single or multi bedroom) has been built in each community district since 2020
final_df = filtered_df.groupby(["Community Board"]).agg(
    {
    "studio_1br":"sum",
    "multi_bedroom":"sum",
    "total built units":"sum"
    }
).reset_index().sort_values(by = "total built units", ascending=False)

In [13]:
final_df

   Community Board  studio_1br  multi_bedroom  total built units
27           BX-10      5628.0         9978.0            15606.0
54           QN-12      4415.0         3531.0             7946.0
4            BK-05      3898.0         3186.0             7084.0
21           BX-04      3759.0         2572.0             6331.0
22           BX-05      2942.0         1608.0             4550.0
23           BX-06      2241.0         2096.0             4337.0
0            BK-01      2265.0         2038.0             4303.0
56           QN-14      2057.0         1822.0             3879.0
16           BK-17      2081.0         1638.0             3719.0
40           MN-10      1521.0         2080.0             3601.0
29           BX-12      1890.0         1530.0             3420.0
1            BK-02      2196.0         1199.0             3395.0
20           BX-03      1549.0         1656.0             3205.0
18           BX-01      2010.0         1118.0             3128.0
2            BK-03      1820.0         1174.0             2994.0
24           BX-07      2215.0          772.0             2987.0
42           MN-12      1792.0         1161.0             2953.0
41           MN-11      1607.0         1204.0             2811.0
50           QN-08       769.0         1979.0             2748.0
15           BK-16      1649.0          869.0             2518.0
34           MN-04      1665.0          824.0             2489.0
12           BK-13      1343.0          879.0             2222.0
5            BK-06      1419.0          758.0             2177.0
44           QN-02      1490.0          661.0             2151.0
33           MN-03      1277.0          738.0             2015.0
26           BX-09      1383.0          604.0             1987.0
37           MN-07      1314.0          630.0             1944.0
19           BX-02      1027.0          909.0             1936.0
43           QN-01      1417.0          434.0             1851.0
39           MN-09       801.0          811.0             1612.0
49           QN-07      1025.0          490.0             1515.0
8            BK-09       937.0          491.0             1428.0
7            BK-08       927.0          432.0             1359.0
28           BX-11       949.0          364.0             1313.0
3            BK-04       817.0          288.0             1105.0
25           BX-08       644.0          459.0             1103.0
57           SI-01       751.0          264.0             1015.0
13           BK-14       577.0          382.0              959.0
46           QN-04       380.0          326.0              706.0
14           BK-15       316.0          363.0              679.0
6            BK-07       401.0          193.0              594.0
36           MN-06       432.0           52.0              484.0
31           MN-01       454.0           27.0              481.0
38           MN-08       313.0          104.0              417.0
48           QN-06       283.0          121.0              404.0
45           QN-03       248.0          103.0              351.0
11           BK-12       147.0          187.0              334.0
32           MN-02       173.0          155.0              328.0
35           MN-05       268.0           11.0              279.0
10           BK-11       148.0          116.0              264.0
47           QN-05       160.0           40.0              200.0
51           QN-09       111.0           58.0              169.0
58           SI-02        84.0           27.0              111.0
17           BK-18        22.0           46.0               68.0
53           QN-11        28.0           10.0               38.0
55           QN-13         0.0           25.0               25.0
59           SI-03         3.0           16.0               19.0
52           QN-10         6.0           10.0               16.0
30           BX-20        10.0            2.0               12.0
9            BK-10         3.0            4.0                7.0

In [15]:
total_1 = final_df['studio_1br'].sum()
print(total_1)
#I want to know the total number of single and multi-occupancy units

72057.0

In [16]:
total_2 = final_df['multi_bedroom'].sum()
print(total_2)

55625.0

In [17]:
#now outputting this dataframe
final_df.to_csv("../outputs/analysis.csv")